:root{
    font-family: 'Work Sans', sans-serif;
    font-size: 62.5%;
    --text-color: #2A2A2A;
    --text-color1:#FFFFFF;
    --background-color: #FF6D8D;
    --background-color2: #74C5FF;
    --background-color3: #FFF2D6;
    --background-color4:#6A19F5;
    --background-color5:#2580C1;
    --background-color6: #F6C55A;
    --shadow-color:rgba(0, 0, 0, 0.25);
    font-weight: 500;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text{
    display: flex;
    flex-flow: column;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    max-width: 900px;
}
.navbar-component{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
}
.Mathopolis{
    display: block;
}
.threline{
    display: block;
    background-color: var(--text-color1);    
}
.el_list{
    display: flex;
    justify-content: space-between;
    width: 38rem;
    align-items: center;
}
.list{
    flex-grow: 1;
    display: none;
    max-width: 90rem;
    align-items: center;
    justify-content: space-between;
    margin-left: 10rem;
    flex-shrink: 0;
}
.item{
    display: block;
    flex-shrink: 0;
    align-items: center
}

.item-button{
    display: block;
    flex-shrink: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.5rem;
    color: var(--text-color1);
    background-color: var(--background-color);
    align-items: center;
}
.sec1{
    background-color: var(--background-color2);

}
.one{
    padding-bottom: 6.8rem;
    padding-top: 6.8rem;
    max-width: 900px;}
h1{
    font-size: 3.5rem;
    font-weight: 400;
    line-height: 118%;
    color: var(--text-color);
    text-shadow:0px 4px 4px var(--shadow-color);
    text-align: center;
    letter-spacing: 5%;
    margin-top: 0;
    margin-bottom: 2rem;
}
p.quote{
    display: inline;
    font-weight: 500;
    font-size: 2.8rem;
    line-height: 130%;
    color: var(--text-color);
    text-align: left;
    padding-bottom: 1.4rem;
}
p.secound{
    display: inline;
    font-size: 1.4rem;
    line-height: 150%;
    color: var(--text-color);
    text-align: left;
}
 .pic1{
    display: block;
    margin-top: 6.8rem;
    max-width: 100%;

    object-fit: cover;
    width: 37.5rem;
    height: 30.5rem;
    margin-bottom: 8.5rem;
 }
.sec2{
    background-color: var(--background-color);
}
.left_strel{
    display: none;
    background-color: var(--background-color);
}
.two{
    padding-bottom: 10rem;
    padding-top: 10rem;
    max-width: 900px;
}
h2{
    font-size: 3rem;
    font-weight: 600;
    line-height: 130%;
    color: var(--text-color);
    text-align: center;
    letter-spacing: 5%;
}
.tes{
    font-size: 3rem;
    font-weight: 600;
    line-height: 130%;
    color: var(--text-color);
    text-align: center;
    letter-spacing: 5%;
}
.ksquote{
    display: block;
    padding-top: 5em;
    padding-bottom: 3em;
}
.biochemist{
    font-size: 1.6rem;
    line-height: 130%;
    color: var(--text-color);
    text-align: center;
}
.name1{
    font-size: 1.4rem;
    line-height: 150%;
    color: var(--text-color);
    text-align: center;
    padding-bottom: 0.5em;
}
.name2{
    font-size: 1.4rem;
    line-height: 150%;
    color: var(--text-color);
    text-align: center;
    padding-bottom: 3em;
}
.threbutton{
    display:flex;
    width: 50px;
    justify-content: space-between;   
    margin-left: auto;
    margin-right: auto;
}
.radius{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--background-color)
}
.right_strel{
    display: none;
    background-color: var(--background-color);
}
.img3{
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 37.5rem;
    height: 37.5rem;
}
.three{
    margin-bottom: 10rem;
    max-width: 900px;
}
.Puzzle{
    font-size: 1.4rem;
    line-height: 150%;
    color: var(--text-color);
    text-align: left;
    padding-top: 2em;
    padding-bottom: 5em;
}
.start{
    display: flex;
    flex-direction: column;
    margin-left: 0;
    padding-left: 1.5rem;
}
a.attend{
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 116%;
    color: var(--text-color1);
    text-align: center;
    letter-spacing: 5%;
    background-color: var(--background-color4);
    padding-top: 1.5rem;
    width:100%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1.5rem;
    border-radius: 0.5rem;
}
.sec4{
    background-color: var(--background-color5);
}
.pic4{
    margin-top: 10rem;
    margin-bottom: 3rem;
    display: block;
    width: 37.5rem;
    height: 26.2rem;
}
.four{
    margin-bottom: 10rem;
    max-width: 900px;
}
.RUN{
    
    color: var(--text-color1);
    
}
.virtual{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 150%;
    color: var(--text-color1);
    text-align: left;
}
.but_VOLUN{
    display: none;
}
.formbody{
    background-color: var(--background-color2);
    display:block;
    height: 100%;
}
.fon_for_form{
    display: flex;
    padding-top: 5rem;
    padding-bottom: 5rem;
    vertical-align: middle;
}
.footerform{
    padding-left: 3rem;
    font-size: 2.2rem;
    line-height: 136%;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.block{
  
    display: block;
}
label{
    font-size: 1.7rem;
    text-align: center;
}
.pic5{
    margin-top: 7.5rem;
    margin-bottom: 5rem;
    display: block;
    width: 375px;
    height: 304px;
}
.five{
    margin-bottom: 10rem;
    max-width: 900px;
}

.f{
    margin-top: 5rem;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 116%;
    color: var(--text-color1);
    text-align: center;
    letter-spacing: 5%;
    background-color: var(--background-color4);
    padding-top: 1.5rem;
    width:100%;
    background: linear-gradient(to top right, var(--background-color4), var(--background-color5));
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1.5rem;
    border-radius: 0.5rem;
}
.host{
    margin-bottom: 2rem;
}
.math{
    font-size: 1.4rem;
    line-height: 150%;
    color: var(--text-color);
    text-align: left;
}
footer{
    background-color: var(--background-color3);
    font-size: 1.6rem;
    line-height: 130%;
    color: var(--text-color);

}
.foot{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    align-items: flex-start;
    max-width: 900px;
}
.picfoot{
    margin-bottom: 3rem;
}
.textfoot{
    display: block;
    margin-bottom: 5rem;
}
.downmenu{
    display: flex;
    width: 100%;
    justify-content: space-around;   
    height: 255px;
}
.foter{
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
    justify-content: space-between;
}
.socseti{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;
    margin-bottom: 3rem;
}
.sociaity{
    display: flex;
    width:100%;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 3rem;
}

.follow{
    text-align: center;
    margin-bottom: 1rem;
}
a{
    text-decoration: none;
}
.last{
    display: block;
    font-weight: 400;
    line-height: 150%;
    color: var(--text-color);
    opacity: 0.3;
    text-align: left;
    padding-bottom: 9rem;
    padding-left: 1.5rem;
}
.formhead{
    background-color: #FFFFFF;
}
.box{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.6rem;
    border-radius: 20px;
    width: 100%;
    border-color: var(--text-color1);
    margin-bottom: 2rem;
}
form{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    max-width: 70rem;
    min-width: 32rem; 
}
.niz{
    margin-bottom: 1rem;
}
.formp{
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

}
label{
    font-size: 1.7rem;
}
.in{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.none{
    min-width: 10rem;
}
input{
    display: flex;
    justify-content: space-around;
    max-width: 70rem;
    min-width: 30rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 9rem;
    padding-left: 2rem;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
legend{
    color: rgb(24, 33, 40);
    font-size: 2.5rem;
    line-height: 100%;
}
.for_button{
    display: flex;
    max-width: 62rem;
    min-width: 40rem;
    justify-content: space-around;
}
html, body { 
    height: 100%;
}
input:focus{
    box-shadow: 0 0 0 3px var(--second-color);
}
button:disabled {
    transform: initial;
    background-color: initial;
    color: initial;
    background-color: var(--text-color1);
}
button:focus {
    outline: none;
    box-shadow: 0 0 0 3px var(--second-color);
}
button:hover {
    background-color: var(--second-color);
    transform: scale(1.2);
    transition: transform 1s, background-color 0.5s;
    cursor: pointer;
}
button:active{
    background-color: #333;
    border-color: #333;
    color: #eee;
}
body > footer {
  position: sticky;
  top: 100vh;
}
.but{
    font-size: 1.5rem;
}
@media (min-width: 700px){
    .threline{
        display: none;
    }
    .list{
        display: flex;
    }
}
@media(min-width:1640px){
    .navbar-component{
        justify-content: space-around;
        max-width: 1440px;
    }

    section{
        flex-direction: row;
        justify-content: space-around;
    }
    h1{
        font-size: 9.6rem;
        font-weight: 500;
        line-height: 10.9rem;
        text-align: left;
        margin-bottom: 4rem;
        margin-right: auto;
    }
    .sec2{
        justify-content: space-around;}
    h2{
        font-size: 5.2rem;
        letter-spacing: 0.05em;
        display: block;
        margin-right: auto;

    }
    p.quote{
        font-size: 3.2rem;
        line-height: 130%;
        color: var(--text-color);
        margin-right:auto;
        padding-bottom: 2rem;
    }
    p.secound{
        display: inline;
        font-size: 2rem;
        margin-right: auto;
    }
    .pic1{
        margin-top: 1.7em;
        max-width: 100%;
        object-fit: cover;
        width: 66rem;
        height: 54rem;
     }
     .Puzzle{
        font-size: 2rem;
        line-height: 150%;
        color: var(--text-color);
        text-align: left;
        padding-top: 4rem;
        padding-bottom: 5em;
    }
    .biochemist{
        font-size: 2.4rem;
     }
    .name1{
        font-size: 2rem;
     }
    .name2{
        font-size: 2rem;
    }
    .img3{
        width: 101.7rem;
        height: 101.7rem;
    }
    .one{
        margin-left: 0;
        margin-right: 0;
        max-width: 80rem;
    }
    .tes{
        font-size: 5.2rem;
        letter-spacing: 0.05em;
        display: block;
        margin-right: auto;
        margin-left: auto;
        font-weight: 600;
        line-height: 130%;
        color: var(--text-color);
        text-align: center;

    }
    .foter{
        height: 251px;
    }
    .downmenu{
        margin-top: 8rem;
        width: 373px;
    }
    .pic5{
        width: 884px;
        height: 716px;
    }
    .two{
        margin-left: 0;
        margin-right: 0;
    }
    .three{
        margin-left: 0;
        margin-right: 0;
        width: 550px;
    }
    .four{
        margin-left: 0;
        margin-right: 0;
        width:540;
    }
    .pic4{
        margin-top: 10rem;
        margin-bottom: 3rem;
        display: block;
        width: 92.6rem;
        height: 66.2rem;
    }
    .math{
        font-size: 2rem;
        display: block;
        margin-right: auto;
        text-align: left;
        padding-bottom: 6rem;
    }
    .virtual{
        font-size: 2rem;
    }
    .five{
        margin-left: 0;
        margin-right: 0;
    }
    .sec4{
        flex-direction: row-reverse;
    }
    .but_VOLUN{
        display: block;
        margin-right: auto;
        padding-top: 1.9rem;
        padding-bottom: 1.9rem;
        padding-right: 5rem;
        padding-left: 5rem;
        background-color: var(--background-color6);
        margin-top: 4rem;
    }
    .left_strel{
        display: block;
    }
    .right_strel{
        display: block;
    }
    .foot{
        flex-direction: row;
        justify-content: space-around;
        max-width: 1920px;
    }
    .start{
        width: 322px;
    }
    .f{
        margin-top: 0;
        width:215px;
        margin-left:0;
        display: block;
    }
    .picfoot{
        margin-top: 4rem;
        width:321px;
        height: 160px;
    }
    .sociaity{
        width:284px;
        margin-top: 7rem;
    }
    .follow{
        text-align: left;
        margin-top: 0;
        padding-bottom: 2.2rem;
        margin-bottom: 0;
    }
    .socseti{
        margin-bottom: 5rem;
    }
    .last{
        width: 1440px;
        margin-left: 240px;
    }
}