:root{
    font-family: 'Work Sans', sans-serif;
    font-size: 62.5%;
    --text-color: #2A2A2A;
    --text-color1:#FFFFFF;
    --background-color: #FF6D8D;
    --background-color2: #74C5FF;
    --background-color3: #FFF2D6;
    --background-color4:#6A19F5;
    --background-color5:#2580C1;
    --shadow-color:rgba(0, 0, 0, 0.25);
    
    font-weight: 500;
}
.navbar-component{
    display: flex;
    margin-right: auto;
    margin-left: auto;
    flex-flow: row wrap;
    align-items: stretch;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.Mathopolis{
    display: block;
}
.threline{
    display: none;
}
.list{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 500px;
    margin-left: 5em;
    flex-shrink: 0;
}
.item{
    display: block;
    flex-shrink: 0;
    height: inherit;
    line-height: inherit;
}
.item-button{
    display: block;
    flex-shrink: 0;
    padding-left: round((inherit-20)/2);
    padding-right: round((inherit-20)/2);
    height: inherit;
    line-height: inherit;
    border-radius: 0.5em;
    color: var(--text-color1);
    background-color: var(--background-color);
}

.sec1{
    background-color: var(--background-color2);
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 100%;
    align-items: center;
}
.text1{
    display: flex;
    flex-flow: column;
    padding-bottom: 6.4rem;
    padding-top: 6.4rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    width: 100%;
    max-width: 775px;
}
img{
    display: flexbox;
}
h1{
    display: flexbox;
    font-size: 3.5rem;
    font-weight: 400;
    line-height: 118%;
    color: var(--text-color);
    text-shadow:0px 4px 4px var(--shadow-color);
    text-align: center;
    letter-spacing: 5%;
    margin-top: 0;
    margin-bottom: 2rem;
}
p.quote{
    display: flexbox;
    font-size: 2.86rem;
    line-height: 130%;
    color: var(--text-color);
    text-align: left;
    padding-left: 3.9rem;
    padding-bottom: 2rem;
}
p.secound{
    display: flexbox;
    font-size: 1.4rem;
    line-height: 150%;
    color: var(--text-color);
    text-align: left;
    padding-left: 3.9rem;

 
}
.sec2{
    background-color: var(--background-color);
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 100%;
    align-items: center;
}
h2{
    font-size: 3rem;
    font-weight: 600;
    line-height: 130%;
    color: var(--text-color);
    text-align: center;
    letter-spacing: 5%;
}
.biochemist{
    font-size: 1.6rem;
    line-height: 130%;
    color: var(--text-color);
    text-align: center;
}
.name{
    font-size: 1.4rem;
    line-height: 150%;
    color: var(--text-color);
    text-align: center;
}
.Puzzle{
    font-size: 1.4rem;
    line-height: 150%;
    color: var(--text-color);
    text-align: left;
}
a.attend{
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 116%;
    color: var(--text-color1);
    text-align: center;
    letter-spacing: 5%;
    background-color: var(--background-color4);
    text-decoration: none;
}
.sec4{
    background-color: var(--background-color5);
}
.RUN{
    font-size: 3rem;
    font-weight: 600;
    line-height: 130%;
    text-align: center;
    letter-spacing: 5%;
    color: var(--text-color1);
}
.virtual{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 150%;
    color: var(--text-color1);
    text-align: left;
}
.math{
    font-size: 1.4rem;
    line-height: 150%;
    color: var(--text-color);
    text-align: left;
}
footer{
    background-color: var(--background-color3);
    font-size: 1.6rem;
    line-height: 130%;
    color: var(--text-color);
    text-align: left;

}
.follow{
    text-align: center;
}
a{
    text-decoration: none;
}
.sup{
    background-color: var(--background-color4);
    border-radius: 0.5rem;
    box-shadow: 0.4rem 0.4rem 0.5rem var(--shadow-color);
    text-align: center;
    color: var(--text-color1);
    /*padding: 1.5rem 6rem;*/
    font-size: 1.3rem;
    line-height: 118%;
    letter-spacing: 0.05em;

}
.last{
    font-size: 1rem;
    font-weight: 400;
    line-height: 150%;
    color: var(--text-color);
    opacity: 0.3;
}
@media (max-width: 500px){
    .threline{
        display: block;
    }
    .list{
        display: none;
    }
}
@media (min-width: 1200px) {
    .sec1{
        flex-flow: row;
        width: 100%;
        justify-content: center;
    }
    .text1{
        margin-bottom: 14.9rem;
        margin-top: 14.9rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        width: 100%;
        max-width: 775px;
        height: 300px;
    }
    
}